body {
	padding: 0px;
     margin: 0;
     /* background: url(background.jpg);
	background-attachment: fixed;
	background-size: 100%;*/
	background-color: #F6E3CE;
}
#p1{
	font-size: 18px;
	font-family: 'Open Sans';
}
#begin{
	float: right;
	margin-right: 2%;
	padding-right: 5%;
	padding-left: 5%;
}
#next{
	float: right;
	margin-right: 2%;
	padding-right: 5%;
	padding-left: 5%;
}
.wrapper{
	float:left;
	clear:left;
	display: table;
	table-layout: fixed;
}
img.img-responsive{
	display: :table-cell;
	max-width: : 100%;
}
.pozdrav{
	color: #FFFFFF;
	margin: 20px;
}
.pozdrav1{
	color: #FFFFFF;
	margin: 20px;
	font-size: 24px;
}
.logo{
	width: 100%;
	margin-top: 0px;
}

#menu{
	background-color: #dac5a4;
	font-family: 'Open Sans';
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #F6E3CE;
}
.navbar-default .navbar-nav > .active > a:hover{
	color: #FFFFFF;
    background-color: #2f76a7;
    border-color: #FFFFFF;
}

#glava {
	background-color: #2f76a7;
}
#kvizko{
	background-color: #F2F2F2;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: #2f76a7;
    border-color: none;
}
.table-nonfluid {
	width: auto !important;
	table-layout: fixed;
	word-wrap: break-word;
}
.table-width{
	max-width: 100%;
}
span.tab{
    padding: 0 3%;
}